/*
 * Reset
 */
a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
    background: transparent;
    border: 0;
    margin:0;
    outline: 0;
    padding:0;
    text-align: left;
    vertical-align: baseline;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ol, ul {
    list-style: none;
}

/*
 * Base
 */
html, body {
    height: 100%;
}
h1:empty {
    display: none;
}

/*
 * Fonts
 */
body,
input {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
body > header h1 {
    font-weight: normal;
}
td.number,
input[type=number] {
    text-align: right;
}
input[type=submit] {
    font-weight: bold;
}
th {
    font-weight: bold;
}

/*
 * Baseline
 * line-height unit: 24px
 */
address, caption, dialog, dl, form, h1, h2, h3, h4, h5, h6, input, ol, p, pre, table, ul {
    position: relative;
}
address, caption, dialog, input, ol, p, pre, table, ul {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    top: 7px;
}
body > header h1 {
    font-size: 18px;
    line-height: 24px;
    top: 6px;
}
#mode {
    font-size: 14px;
}
body > header p {
    padding-top: 24px;
    position: absolute;
    right: 24px;
    text-align: right;
    top: 7px;
}
body > nav h1 {
    font-size: 14px;
    line-height: 24px;
    top: 7px;
}
body > main h1 {
    font-size: 20px;
    line-height: 24px;
    top: 5px;
}
body > main * + h1 {
    margin-top: 24px;
}
body > main h2 {
    font-size: 18px;
    line-height: 24px;
    top: 6px;
}
body > main * + h2 {
    margin-top: 24px;
}
body > main h3 {
    font-size: 14px;
    line-height: 24px;
    top: 7px;
}
body > main * + h3 {
    margin-top: 24px;
}
input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 24px;
    top: 7px;
}
td, th {
    height: 24px;
    margin: 0;
    padding: 0;
}

/*
 * Colors
 */
body {
    background-color: #fff;
    color: #333;
}
body > header > h1 {
    color: #3366b3;
}
#mode {
    color: #b36633;
    font-weight: normal;
}
body > header p {
    color: #999;
}
a:link {
    color: #222;
}
a:visited {
    color: #888;
}
a:hover {
    color: #811;
}
a:active {
    color: #811;
}
body > nav a {
    color: #333 !important;
    text-decoration: none;
}
input {
    background-color: #eeeef2;
}
input[type=submit] {
    background-color: #dddde4;
}

/*
 * Layout
 */
body > header,
body > nav,
body > aside,
body > main {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
}
body > header {
    padding-bottom: 24px;
    padding-top: 24px;
    height: 96px;
}
body > nav,
body > main {
    overflow: auto;
}
body > nav {
    height: calc(100% - 96px);
}
body > aside {
    height: 96px;
}
body > main {
    height: calc(100% - 96px - 96px);
}
body > nav {
    width: 240px;
}
body > aside,
body > main {
    position: absolute;
    left: 240px;
    width: calc(100% - 240px);
}
body > aside {
    top: 96px;
}
body > main {
    top: calc(96px + 96px);
}

/*
 * Table
 */
table {
    border-collapse: collapse;
}
td, th {
    padding: 0 24px 0 0;
}
td:last-child, th:last-child {
    padding: 0;
}

/*
 * List
 */
ul, ol {
    margin-left: 1.5em;
}
ul {
    list-style-position: outside;
    list-style-type: disc;
}
ol {
    list-style-position: outside;
    list-style-type: decimal;
}
body > nav ul {
    list-style: none;
    margin-left: 0;
}
body > nav ul:nth-child(n+2) {
    margin-top: 24px;
}

/*
 * Form
 */
input {
    margin-right: 24px;
    padding-left: 8px;
    padding-right: 8px;
    width: 200px; /* FIXME */
}
input[type=submit] {
    border-width: 1px;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
    width: auto;
}

/*
 * Print
 */
@media print {
    body > header {
        display: none;
    }
    body > nav {
        display: none;
    }
    body > main {
        height: auto;
        left: 0;
        position: relative:
        top: 0;
        width: auto;
    }
    #form_item {
        display: none;
    }
    td.action, th.action {
        display: none;
    }
}

/*
 * Debug
 */
.development {
    display: none;
}
#mode {
    margin-left: 8px;
}
#debug_overlay {
    background-image: url('/static/images/debug_grid.png');
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
