/*
 * Reset
 */
a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
    background: transparent;
    border: 0;
    margin:0;
    outline: 0;
    padding:0;
    text-align: left;
    vertical-align: baseline;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ol, ul {
    list-style: none;
}

/*
 * Base
 */
html, body {
    height: 100%;
}
body > header p {
    position: absolute;
    right: 24px;
    text-align: right;
    top: calc(6px + 24px);
}

/*
 * Fonts
 */
body,
input {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
body > header h1 {
    /*font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Helvetica', 'Arial Narrow Bold', 'sans-serif';*/
    font-weight: normal;
    /*font-stretch: condensed;*/
}
body > section h1 {
    /*font-weight: bold;*/
}
td.number,
input[type=number] {
    text-align: right;
}
th {
    font-weight: bold;
}

/*
 * Baseline
 * line-height unit: 24px
 */
address, caption, dialog, dl, form, h1, h2, h3, h4, h5, h6, input, ol, p, pre, table, ul {
    position: relative;
}
address, caption, dialog, input, ol, p, pre, table, ul {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    top: 7px;
}
body > header h1 {
    font-size: 20px;
    line-height: 24px;
    top: 28px;
}
body > nav h1 {
    font-size: 14px;
    line-height: 24px;
    top: 7px;
}
body > section h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    top: 5px;
}
body > section h2 {
    font-size: 18px;
    line-height: 24px;
    top: 5px;
}
body > section h3 {
    font-size: 14px;
    line-height: 24px;
    top: 7px;
}
form {
    top: 0px;
    margin-bottom: 8px;
}
input {
    background-color: transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 14px;
    height: 36px;
    margin-bottom: 3px;
    overflow: visible;
    top: 0px;
    vertical-align: baseline;
}
table {
}
td, th {
    height: 24px;
    margin: 0;
    padding: 0;
}

/*
 * Colors
 */
body {
    background-color: #fff;
    color: #333;
}
body > header {
    background-color: #333;
    color: #fff;
}
body > nav {
    background-color: #eeeef2;
}
a:link {
    color: #222;
}
a:visited {
    color: #888;
}
a:hover {
    color: #811;
}
a:active {
    color: #811;
}
body > header a {
    color: #fff !important;
}
body > nav a {
    color: #333 !important;
    text-decoration: none;
}

/*
 * Layout
 */
body > header,
body > nav,
body > section {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
}
body > header {
    height: 60px;
}
body > nav,
body > section {
    height: calc(100% - 60px);
    overflow: auto;
    padding-bottom: 12px;
    padding-top: 12px;
}
body > nav {
    width: 240px;
}
body > section {
    position: absolute;
    top: 60px;
    left: 240px;
    width: calc(100% - 240px);
}

/*
 * Grids
 */
.colgroup {
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.colgroup, body > section {
    clear: both;
}
.colgroup > section {
    margin-right: 24px;
}
.colgroup > section:last-child {
    margin-right: 0;
}
.width1 {
    width: 200px;
}
.width2 {
    width: 424px;
}
.width3 {
    width: 648px;
}
.width4 {
    width: 872px;
}

/*
 * Table
 */
table {
    border-collapse: collapse;
}
td, th {
    padding: 0 24px 0 0;
}
td:last-child, th:last-child {
    padding: 0;
}

/*
 * List
 */
ul, ol {
    margin-left: 1.5em;
}
ul {
    list-style-position: outside;
    list-style-type: disc;
}
ol {
    list-style-position: outside;
    list-style-type: decimal;
}
body > nav ul {
    list-style: none;
    margin-left: 0;
}
body > nav ul:nth-child(n+2) {
    margin-top: 24px;
}

/*
 * Form
 */
input {
    border-color: #ccc;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-right: 24px;
    width: 200px; /* FIXME */
}
input[type=submit] {
    border-width: 1px;
    padding-left: 24px;
    padding-right: 24px;
    width: auto;
}

/*
 * Print
 */
@media print {
    body > header {
        display: none;
    }
    body > nav {
        display: none;
    }
    body > section {
        height: auto;
        left: 0;
        position: relative:
        top: 0;
        width: auto;
    }
    #form_item {
        display: none;
    }
    td.action, th.action {
        display: none;
    }
}

/*
 * Debug
 */
.development {
    display: none;
}
#mode {
    color: #ecc;
    margin-left: 8px;
}
#debug_overlay {
    background-image: url('/static/images/debug_grid.png');
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
