<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Kakeibo</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Kakeibo</h1>
      <p>Hello, {{.UserEmail}}! (<a href="{{.LogoutURL}}">Logout</a>) (<a id="debug_link" href="#">Debug</a>)</p>
    </header>
    <nav>
      <ul>
        <li><a href="#">All</a></li>
      </ul>
      <ul id="year_months">
      </ul>
    </nav>
    <section>
      <h1>&nbsp;</h1>
      <form id="form_item" method="post" data-id="">
        <input name="Date" type="date" value="" required="required" />
        <input name="Subject" type="text" placeholder="Subject" value="" required="requied" />
        <input name="Amount" type="number" placeholder="Amount" value="" required="required" />
        <input type="submit" />
      </form>
      <table id="table_items">
        <thead>
          <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Amount</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>
    <div id="debug_overlay">
    </div>
    <script>var userEmail = {{.UserEmail}};</script>
    <script src="static/scripts/main.js"></script>
  </body>
</html>
