<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Kakeibo</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Kakeibo<span class="development"><span id="mode"></span></span></h1>
      <p>Hello, {{.UserEmail}}! (<a href="{{.LogoutURL}}">Logout</a>)<span class="development"> (<a id="debug_link" href="#">Debug</a>)</span></p>
    </header>
    <nav>
      <ul id="year_months">
      </ul>
      <ul>
        <li><a href="#" id="link_export_as_csv">Export as CSV</a></li>
      </ul>
    </nav>
    <aside>
      <form id="form_item" method="post" data-id="">
        <input name="Date" type="date" value="" required="required" />
        <input name="Subject" type="text" placeholder="Subject" value="" required="required" />
        <input name="Amount" type="number" placeholder="Amount" value="" required="required" />
        <input type="submit" />
      </form>
    </aside>
    <main>
      <h1>&nbsp;</h1>
      <table id="table_items">
        <thead>
          <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Amount</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </main>
    <div id="debug_overlay">
    </div>
    <script>
      function userEmail() { return "{{.UserEmail}}"; }
      function isDevelopmentMode() { return {{.IsDevelopmentMode}}; }
    </script>
    <script src="static/scripts/main.js"></script>
  </body>
</html>
